/** SCREEN SIZE **/
/** COLORS **/
/** FONTS **/
/** SHADOW **/
/** PRIMARY RULES **/
* {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
}

/** FONT RULES **/
h1,
h4 {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
  color: black;
}

.pre-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  position: fixed;
  width: 100%;
  height: 100%;
  animation: preloader 0.2s linear 3s forwards;
  z-index: 1;
}

.loading-circle {
  display: inline-block;
  width: 10em;
  height: 10em;
  border: 16px solid #f2f2f2;
  border-top: 16px solid #9356dc;
  border-right: 16px solid #ff79da;
  border-bottom: 16px solid #99e2d0;
  border-radius: 50%;
  animation: loadingcircle 2s linear infinite;
}

@keyframes preloader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loadingcircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.button {
  width: fit-content;
  align-items: center;
  border-radius: 28px;
  padding: 16px 31px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
}
.button:hover {
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.4);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfdfdf;
  border-top: 2px solid #cccccc;
  width: 100%;
  height: 3em;
}
header .search-box h1 {
  font-size: 2.5em;
}
header .search-box span {
  margin-left: 1em;
  font-size: 1.2em;
  color: black;
}
header .search-box i {
  font-size: 1em;
  color: black;
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 4em;
  }
  .search-box {
    font-size: larger;
  }
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
}
footer h4 {
  color: white;
  margin-left: 1em;
  font-size: 2em;
}
footer ul {
  margin-top: -1em;
}
footer li {
  list-style: none;
  color: white;
  font-size: 1.3em;
}
footer a {
  color: white;
  text-decoration: none;
}
footer i {
  margin-right: 1rem;
}

@media screen and (min-width: 992px) {
  footer {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  footer h4 {
    font-size: 4em;
  }
  footer ul {
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
  }
}
body {
  overflow: hidden;
}

main {
  overflow: scroll;
  height: 100vh;
}

/*********** INFO OH MY FOOD ************/
#info-ohmyfood {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 2em;
}
#info-ohmyfood .text-info {
  text-align: center;
  width: 75%;
}

/*********** FONCTIONNEMENT ************/
#how-ohmyfood {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
#how-ohmyfood h2 {
  text-align: left;
  margin-top: 2em;
  margin-left: 1em;
}
#how-ohmyfood div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  width: 70%;
  margin-top: 1rem;
  margin-left: 12%;
  margin-bottom: 16px;
  padding: 1em;
  border-radius: 20px;
  white-space: nowrap;
  position: relative;
  background: #f2f2f2;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
#how-ohmyfood div:hover {
  background: rgba(147, 86, 220, 0.2);
}
#how-ohmyfood i {
  font-size: 24px;
  margin-right: 0.5em;
  margin-left: 0.5em;
  color: black;
}
#how-ohmyfood p {
  font-size: 20px;
  margin-left: 0.5em;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  padding: 10px;
  border-radius: 100px;
  top: 30%;
  left: -1em;
  color: #fff;
  position: absolute;
  background: #9356dc;
}

/*********** RESTAURANT ************/
#restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 2em;
}
#restaurants .card-restaurant {
  margin-bottom: 16px;
  margin-top: 16px;
  border-radius: 15px;
  background: white;
  position: relative;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
#restaurants img {
  width: 100%;
  height: 16em;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
#restaurants .new {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 8px;
  border-radius: 5px;
  color: #288364;
  background: #99e2d0;
}
#restaurants .restaurant-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  position: relative;
}
#restaurants .restaurant-info h3 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 8px;
}
#restaurants .restaurant-info p {
  font-size: 1.2em;
  margin-top: 0;
}

/** LIKE **/
.like-button i {
  position: absolute;
  margin-top: -2em;
  margin-right: 1rem;
  font-size: 2.5em;
  right: 1rem;
  cursor: pointer;
}

.like-button .like {
  opacity: 0;
  background-image: linear-gradient(250deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.like-button:hover .like {
  opacity: 1;
  animation: fill-heart 0.5s linear;
}

@media screen and (min-width: 992px) {
  h2 {
    font-size: 2em;
  }
  .text-info {
    font-size: larger;
  }
  #how-ohmyfood {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
  }
  #how-ohmyfood div {
    width: 20em;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
  }
  #how-ohmyfood h2 {
    width: 100%;
    text-align: center;
  }
  #restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #restaurants a {
    height: auto;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }
  #restaurants h2 {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  #how-ohmyfood {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #how-ohmyfood h2 {
    width: 100%;
  }
  #how-ohmyfood div {
    margin-left: 1em;
    margin-right: 1em;
  }
}
/** BOUTON J'AIME **/
@keyframes fill-heart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes fill-heart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/** APPARITION DES MENUS **/
@keyframes slide-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}
@-webkit-keyframes slide-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

/*# sourceMappingURL=main.css.map */
