
* {
    margin-right: 0;
    margin-left: 0;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-family: 'Shrikhand', cursive;
}

/*********** HEADER ************/
header {
    display: flex;
    flex-direction: row;    
   a {
        text-decoration: none;
        color: black;
        margin-right: 3.5em;
        margin-left: 1em;
    }
}


/*********** MENU RESTAURANT ************/


img {
  width: 100%;
  height: 20em;
  object-fit: cover;
  position:relative;
  z-index: 1;
}

.restaurant-title { 
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  margin-top: -4em;
  z-index: 2;
  background-color: white;
  width: 100%;
  border-radius: 35px;
  h1 {
   font-size: 2em;
   text-align: left;
   margin-top: 1em;
   margin-left: 1em;
  }
  div {
   margin-left: auto;
   font-size: 2em;
   margin-right: 1em;
  }
}

.group-food{ 
  display: flex;
   justify-content: center;
  width: 100%;
  height:auto;
  flex-direction: column ;
  margin-top: 2em;
  h2 {
   text-align: left;
   font-size: 1.5em;
   margin-top: 1em;
   margin-left: 1em;
   border-bottom: 3px solid #99E2D0;
   width: 1.5em;
  } 
}

.card-food {
  display: flex;
  flex-direction: column;
width: 90%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    line-height: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    h3, p {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    }
    p { 
     margin-top: -0.5em;
   }
   i {
    margin-right: 1em;
   }
   .food-details {
     display: flex;
     justify-content: flex-start;
   }
   .food-price {
     display: flex;
     margin-left: auto;
     margin-top: auto;
     margin-right: 1em;
   }
  }
  
  .food-icons {
  display: none;
  }




/*********** FOOTER ************/

footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    h4 {
      color: white;
      margin-left: 1em;
      font-size: 28px;
    }
    ul {
      margin-top: -1em;
    }
    li {
      list-style-type: none;
      color: white;
    }
    a {
      color: white;
      text-decoration: none;
    }
    i {
      margin-right: 1rem;
    }
  }
  

