.button {
  width: fit-content;
  align-items: center;
  border-radius: 28px;
  padding: 16px 31px;
  box-shadow: $shadow-box;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(
    to bottom,
    #ff79da,
    #e86edb,
    #cf64dc,
    #b35cdc,
    #9356dc
  );
}
