.pre-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  position: fixed;
  width: 100%;
  height: 100%;
  animation: preloader 0.2s linear 3s forwards;
  z-index: 1;
}
.loading-circle {
  display: inline-block;
  width: 10em;
  height: 10em;
  border: 16px solid #f2f2f2;
  border-top: 16px solid #9356dc;
  border-right: 16px solid #ff79da;
  border-bottom: 16px solid #99e2d0;
  border-radius: 50%;
  animation: loadingcircle 2s linear infinite;
}

@keyframes preloader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loadingcircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
