/** PRIMARY RULES **/
* {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

/** FONT RULES **/

body {
    font-family: $font-body;
}

h1, h4 {
    font-family: $font-title;
}

a {
    text-decoration: none;
}