footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;

    h4 {
        color: white;
        margin-left: 1em;
        font-size: 28px;
    }
    ul {
        margin-top: -1em;
    }
    li {
        list-style: none;
        color: white;
    }
    a {
        color: white;
        text-decoration: none;
    }
    i {
        margin-right: 1rem;
    }
}